.avatar {
    width: 70px;
    height: 70px;
    opacity: 1;
    margin: 5px;
    border-radius: 50%;
}

.selectPage {
    font-weight: bold;
    color: gold;
}

.pagesList {
    color: white;
}

.pagesList button:active {
    background-color: gold;
}