
.header {
    grid-area: header;
    background-color: rgba(96, 67, 68, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #E6DDC4;

    box-sizing: border-box;
    width: 1420px;

}

.header h1 {
    font-family: "Shalimar", serif;
}

.header img {
    margin-right: 0px;
    margin-left: 50px;
    width: 60px;
    transform-origin: center;
    transform: rotate(90deg);
}

.LoginBlock {
    margin: 20px;
    margin-left: auto;
}

.LoginBlock a {
    color: white;
}