.header {
    padding: 20px;
    grid-area: header;

    color: #E6DDC4;
    box-sizing: border-box;
    width: 1420px;
    height: 70px;
    background-color: rgba(96, 67, 68, 0.3);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-family: "Shalimar", serif;
    color: #e5d7a0;
}


.header img {
    width: 60px;
    transform-origin: center;
    transform: rotate(90deg);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}


.LoginBlock a {
    color: white;
}