.nav {
    grid-area: nav;
    width: 500px;

    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav .active {
    color: #fff;
    text-decoration: none;
}

@media (hover: hover) {
    .nav a:hover {
        color: gold;
    }
}