.bigImage {
    width: 1175px;
}

.info .cover {
    top:50%;
    left:50%;
    width:100%;
    height:300px;
    object-fit:cover;
    opacity: 0.8;
    border-radius: 10px;
    padding-top: 20px;
}

.descriptionBlock {
    width: 1175px;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-gap: 10px;
    gap: 15px;
}

.mainProfileArea {
    background-color: rgba(96, 67, 68, 0.3);
    border-radius: 5%;

}
.avatar {
    width: 270px;
    border-radius: 50%;
    border: 2px solid #E6DDC4;

}

.avatarContainer {
    padding: 20px 35px;
}

.informationArea {
    background-color: rgba(96, 67, 68, 0.3);
    border-radius: 10px;
    padding: 20px;
}

.contacts {
    padding-left: 20px;
}